.divForm, label{
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 8px;
    align-items: center;
    margin: 5px;
    background-color: antiquewhite;
    margin-left: 10%;

}

.btn {

    width: 30%;
    margin-top: 8px;

}


label, input, select{

width: 50%;

}
